<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="false"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Instagram_clone">

        <activity android:name=".presentation.upload.UploadActivity" android:exported="false" />
        <activity android:name=".presentation.feed.FeedActivity" android:exported="false" />
        <activity android:name=".presentation.profile.ProfileActivity" android:exported="false" />
        <activity android:name=".presentation.profile.EditProfileActivity" android:exported="false" />
        <activity android:name=".presentation.comment.CommentActivity" android:exported="false" />
        <activity android:name=".presentation.search.SearchActivity" android:exported="false" />
        <activity android:name=".presentation.follow.FollowListActivity" android:exported="false" />
        <activity android:name=".presentation.follow.FollowRequestsActivity" android:exported="false" />
        <activity android:name=".presentation.chat.list.ChatListActivity" android:exported="false" />
        <activity android:name=".presentation.chat.room.ChatRoomActivity" android:exported="false" />
        <activity android:name=".presentation.share.SharePostActivity" android:exported="false" />
        <activity android:name=".presentation.feed.SinglePostActivity" android:exported="false" />

        <activity
            android:name=".presentation.auth.AuthActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>